
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<p>
This task encapsulate a PSOM job, which is just a single
step in a larger PSOM pipeline.<br/> As such, there
are no real parameters to see, aside from what's
already in the description.
</p>

<STRONG>PSOM Job Name:</STRONG> <%= params[:psom_job_name] %><br/>
<STRONG>PSOM Job ID:</STRONG> <%= params[:psom_job_id] %><br/>

<p>
<STRONG>Main task for the whole pipeline:</STRONG> <%= link_to_task_if_accessible(params[:psom_main_pipeline_tid] || task.share_wd_tid) %>
</p>

