<div class="alone_per_line">
 <%= show_hide_toggle "(More info)", "#infobox_subjects", :alternate_text  => "Close this note", :class  => "action_link" %>
</div>

<div id="infobox_subjects" style="display:none" >
 <strong>Exclude?</strong><br> 
 No action will be taking for the given subjects.<br>
 The subjects will be simply ignore during this Task.<p>
   <strong>Create Fields Map?</strong><br> 
 Try to create Gradient Field Map during preprocessing<br>
 step. If 2 folders containing the name <em>gre_field_map</em><br>
 one with a phase map, the others containing 2 differents<br>
 echo times magnitude image. You may create field map<br>
 and try to correct the geometric distortion of EPI images<br>
 <small><em>Note: This function is suit only for the 3T trio at the UNF,<br> <%= link_to "leave a message",:controller => "messages", :action => :index %> to see how it could be implemented</em></small><p>
 <strong>Clean Up?</strong><small>(Recommended)</small><br>
 unchecked this options if you want to leave untouched<br>
 the subjects dataset before starting the process.<br>
 Useful if you have dependencies from others tasks or <br>
 simply need your batchs to be execute over the last execution<br>
 this options is faster.<br>   
   Otherwise, keep it checked for remove any <strong>none</strong> dicom files<br>
   from the dataset. That way, there is no posssible confusionµ<br>
   between this task and spm_jobman.<p>
</div> <!-- End class="infobox" -->
