<div class="alone_per_line">
  <%= show_hide_toggle "Do not validate the dataset?:", "#infobox_validate", :alternate_text  => "Close this note", :class  => "action_link" %>
</div>
  
<div id="infobox_validate" style="display:none" >

   <h3>About not Validating the dataset?</h3>

   Because <strong>SpmBatch</strong> is usually very time consuming,<br>
   we recommend to leave this options unchecked.<p>

   Validating the dataset may detect some inconsistency<br>
   between subjects, like a misspell directory or an imaging<br>
   file found missing at the very early stage of the tasks<p> 

   So this options should be use carefully<br>

</div> <!-- End class="infobox" -->
