
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="alone_per_line">
  <%= show_hide_toggle "Save everything?:", "#infobox_saveall", :alternate_text  => "Close this note", :class  => "action_link" %>
</div>
 
<div id="infobox_saveall" style="display:none" >

   <h3>Save everything options:</h3>
   <strong>unchecked: Save important files only</strong><em>(faster)</em><br> 
   This options return for each subjects any results<br>
   produce by model estimation, reviews and estimation.<br> 
   Also, modified batch should be found in the <strong>script</strong><br>
 directory and every logs produce during the process<br>
 will be available as output<p>

 <strong>checked: Save everything</strong><br> 
 This options is similar to the previous one but also<br>
 include all the files that have been created during the<br>
 process<br>
 e.g.<em>preprocessing files, Field Map etc ...</em> 
  <center>

   </center>
</div> <!-- End class="infobox" -->

