
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="alone_per_line">
  <%= show_hide_toggle "Do not validate the dataset?:", "#infobox_validate", :alternate_text  => "Close this note", :class  => "action_link" %>
</div>
  
<div id="infobox_validate" style="display:none" >

   <h3>About not Validating the dataset?</h3>

   Because <strong>SpmBatch</strong> is usually very time consuming,<br>
   we recommend to leave this options unchecked.<p>

   Validating the dataset may detect some inconsistency<br>
   between subjects, like a misspell directory or an imaging<br>
   file found missing at the very early stage of the tasks<p> 

   So this options should be use carefully<br>

</div> <!-- End class="infobox" -->

